Kudoz.io
= "==============================================================="
= "Feedback Cycle Just Finished at #{transfer.destination.team.name} team!"
= "---------------------------------------------------------------"
= "Hey #{transfer.destination.user.fname}! My name is Kudozio The Great. Do you remember I've given you 100 Kudoz to give them all away at #{transfer.destination.team.name}?"
= "Allright, it seems you did't do it. So, I'm taking #{transfer.ammount*-1} Kudoz from your account."
= " "
See you next time! :)
Kudozio The Great
= "---------------------------------------------------------------"
= "This message was sent to #{transfer.destination.user.email}."
= "Kudoz.io Team."

