Kudoz.io
= "==============================================================="
= "Feedback Cycle Just Started at #{account.team.name} team!"
= "---------------------------------------------------------------"
= "Hey #{account.user.fname}! My name is Kudozio The Great. I've just given you 100 Kudoz."
= "This means that the Feedback Cycle at #{account.team.name} has just started."
= " "
= "You only have 5 days to give away those 100 Kudoz between your teammates at #{account.team.name}."
= " "
In 5 days I'll be checking it. If you failed to give away 100 Kudoz by that time, I'll take from your own account double the amount of the remaining Kudoz.
So, you better give away this 100 Kudoz in the next 5 days. :)
= " "
It's Feedback Time! Yeah! 
Kudozio The Great
= "---------------------------------------------------------------"
= "This message was sent to #{account.user.email}."
= "Kudoz.io Team."

