%body
	.center
		.container
			%h4.text-muted
				%em
					How to define great work?
					%strong
						Say Kudoz!
		.jumbotron{ :style => "background-color: #c6487e; margin-bottom: 0px;" }
			.row
				.col-md-1
				.col-md-10
					%h1.white{ :style => "font-size: 120px;"}
						%i.icon-thumbs-up-alt.white
						Kudoz.io
					%p.lead.white{ :style => "font-size: 36px;"}
						Boost your team performance.
				.col-md-1
			.row
				&nbsp;
			.row
				.col-md-5
				.col-md-2
					.panel.panel-default
						.panel-body
							.login-box.visible.widget-box.no-border
								.widget-body
									.widget-main
										.center
											%span
												Sign In - It's free
										.social-login
											%a.btn.btn-primary{ :href => "/auth/facebook?fwd=#{request.fullpath}" }
												%i.icon-facebook
											%a.btn.btn-info{ :href => "/auth/twitter?fwd=#{request.fullpath}" }
												%i.icon-twitter
											%a.btn.btn-danger{ :href => "/auth/google_oauth2?fwd=#{request.fullpath}" }
												%i.icon-google-plus
				.col-md-5
		.jumbotron{ :style => "background-color: #db8db9; margin-bottom: 0px;" }
			.row
				.col-md-2
				.col-md-8
					%p.lead.white{ :style => "font-size: 36px;"}
						The simplest way of giving and receiving instant feedback for your team's continuous improvement.
				.col-md-2
		.jumbotron{ :style => "background-color: rgb(111, 179, 224); margin-bottom: 0px;" }
			.row
				.col-md-12
					%h1.white
						How it works?
					.row
						.col-md-12
							%p.lead.white
								%img{ :src => "/img/flat-icons/Shield.png" }
								%br
								Create a team
							%p.lead.white
								%img{ :src => "/img/flat-icons/Girl.png" }
								%br
								Invite your teammates
							%p.lead.white
								%img{ :src => "/img/flat-icons/flower.png" }
								%br
								Recognize and get recognized. Kudoz!
							%p.lead.white
								%img{ :src => "/img/flat-icons/medal.png" }
								%br
								The more you contribute to the team, the more Kudoz you'll get!
		.jumbotron{ :style => "background-color: #27ae60; margin-bottom: 0px;" }
			.row
				.col-md-2
				.col-md-2
					%p.lead.white.center
						%img{ :src => "/img/flat-icons/Retina-Ready.png" }
						%br
						%br
						Make your work visible
						%br
						&nbsp;
				.col-md-2
					%p.lead.white.center
						%img{ :src => "/img/flat-icons/Retina-Ready.png" }
						%br
						%br
						Express yourself easily
				.col-md-2
					%p.lead.white.center
						%img{ :src => "/img/flat-icons/Retina-Ready.png" }
						%br
						%br
						Receive instant feedback
						%br
						&nbsp;
				.col-md-2
					%p.lead.white.center
						%img{ :src => "/img/flat-icons/Retina-Ready.png" }
						%br
						%br
						Know your team's present mood
						%br
						&nbsp;
				.col-md-2
		.jumbotron{ :style => "background-color: #f1c40f; margin-bottom: 0px;" }
			.row
				.col-md-2
				.col-md-8
					%h1.white
						Go Beyond!
					%p.lead.white{ :style => "font-size: 36px;"}
						Lovely for projects at work, home, your sportsteam or anything you can possibly imagine!
				.col-md-2
			.row
				.col-md-5
				.col-md-2
					.panel.panel-default
						.panel-body
							.login-box.visible.widget-box.no-border
								.widget-body
									.widget-main
										.center
											%span
												Sign In - It's free
										.social-login
											%a.btn.btn-primary{ :href => "/auth/facebook?fwd=#{request.fullpath}" }
												%i.icon-facebook
											%a.btn.btn-info{ :href => "/auth/twitter?fwd=#{request.fullpath}" }
												%i.icon-twitter
											%a.btn.btn-danger{ :href => "/auth/google_oauth2?fwd=#{request.fullpath}" }
												%i.icon-google-plus
				.col-md-5
		.jumbotron{ :style => "margin-bottom: 0px;" }
			.row
				.col-md-1
				.col-md-7{ :style => "text-align: right;"}
					%p.text-muted
						%strong
							We are sorry!
						Kudoz are so powerful, yet the alchemy formula hasn't been found for the moment. So, when you have your own mountain of Kudoz (that will mean you've done great!), what to do with them is an open ending. Just imagine your endless options!
				.col-md-3
					%p.text-muted
						%br
						%a.btn.btn-primary.btn-lg
							Tell us your alchemy...
				.col-md-1
		.jumbotron{ :style => "background-color: #BBBBBB; margin-bottom: 0px;" }
			.row
				%p.text-muted
					© 2013. Kudoz.io
