- if !@my_user.nil?
	.main-content{ :style => "margin-left: 0;" }
		.breadcrumbs#breadcrumbs
			%ul.breadcrumb
				%li.active
					%i.icon-home.home-icon
					Dashboard
		.page-content
			.page-header
				%h1 
					%i.icon-dashboard
					Dashboard
			.row
				.col-xs-12
			.row
				.col-sm-6
					.widget-box
						.widget-header
							%h4.lighter.small
								%i.icon-user.blue
								Transaction History (All teams)
						.widget-body
							.widget-main.padding-8
								.profile-feed#profile-feed-1
									- @visible_transactions.each do |transaction|
										.profile-activity.clearfix
											%div
												%img.pull-right{ :src => transaction.destination.user.image_url }
												%i.pull-right.thumbicon.icon-share-alt.btn-info.no-hover
												%img.pull-left{ :src => transaction.origin.user.image_url }
												= "#{transaction.ammount} Kudoz. "
												%br
												%em
													= "'#{transaction.message}'"
												%br
												= "- #{transaction.origin.user.name} (#{transaction.origin.team.name})"
												%small.pull-right
													%em
														= distance_of_time_in_words( transaction.created_at, Time.now ) + " ago."
				.col-sm-6
					- @teams.each do |team|	
						.widget-box
							.widget-header
								%h4.lighter.small
									%i.icon-group.blue
									%a{ :href => "/teams/#{team.id}" }
										= team.name
							.widget-body
								.widget-main.padding-4
									.clearfix
										- team.accounts.sort! {|a, b| b.balance <=> a.balance }.each do |account|
											.itemdiv.memberdiv
												.user
													%img{ :alt => account.user.name , :src => account.user.image_url }
												.body
													.name
														%a{ :href => "/teams/#{team.id}/accounts/#{account.id}/show" }
															= account.user.name
													.time 
														%i.icon-thumbs-up-alt
														= account.balance
						&nbsp;