Kudoz.io
= "==============================================================="
= "#{new_joiner_account.user.name} just joined #{account.team.name}!"
= "---------------------------------------------------------------"
= "#{new_joiner_account.user.fname} has #{new_joiner_account.balance} Kudoz at #{new_joiner_account.team.name}."
= ' '
= "Would you like to say 'thanks' to #{new_joiner_account.user.fname} by recognising his/her work?"
= "Give #{new_joiner_account.user.fname} some Kudos by visiting the following link:"
= "http://#{hostname}/teams/#{new_joiner_account.team.id}/accounts/#{new_joiner_account.id}/show"
= "---------------------------------------------------------------"
= "This message was sent to #{account.user.email}."
= "Kudoz.io Team."