%html
	%head
		:css
			#outlook a{
				padding:0;
			}
			body{
				width:100% !important;
			}
			.ReadMsgBody{
				width:100%;
			}
			.ExternalClass{
				width:100%;
			}
			body{
				-webkit-text-size-adjust:none;
			}
			body{
				margin:0;
				padding:0;
			}
			img{
				border:none;
				height:auto;
				line-height:100%;
				margin:0;
				outline:none;
				padding:0;
				text-decoration:none;
			}
			#backgroundTable{
				height:100% !important;
				margin:0;
				padding:0;
				width:100% !important;
			}
			body,#backgroundTable{
				background-color:#EBEBEB;
			}
			h1,.h1{
				color:#303030;
				display:block;
				font-family:Georgia;
				font-size:30px;
				font-weight:normal;
				line-height:100%;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				text-align:left;
			}
			h2,.h2{
				color:#26ABE2;
				display:block;
				font-family:Georgia;
				font-size:20px;
				font-weight:normal;
				line-height:100%;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				text-align:left;
			}
			h3,.h3{
				color:#707070;
				display:block;
				font-family:Georgia;
				font-size:15px;
				font-weight:normal;
				line-height:100%;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				text-align:left;
			}
			h4,.h4{
				color:#303030;
				display:block;
				font-family:Georgia;
				font-size:18px;
				font-weight:normal;
				line-height:100%;
				margin-top:0;
				margin-right:0;
				margin-bottom:10px;
				margin-left:0;
				text-align:left;
			}
			#templatePreheader{
				background-color:#c6487e;
				border-bottom:0;
			}
			.preheaderContent{
				color:#FFFFFF;
				font-family:Helvetica;
				font-size:10px;
				line-height:100%;
				text-align:left;
			}
			.preheaderContent a:link,.preheaderContent a:visited,.preheaderContent a .yshortcuts {
				color:#FFFFFF;
				font-weight:normal;
				text-decoration:underline;
			}
			#templateHeader{
				background-color:#FFFFFF;
				border-top:0;
				border-bottom:1px solid #D9D9D9;
			}
			.headerContent{
				color:#303030;
				font-family:Helvetica;
				font-size:20px;
				font-weight:bold;
				line-height:100%;
				padding:20px;
				text-align:left;
				vertical-align:middle;
			}
			.headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
				color:#26ABE2;
				font-weight:normal;
				text-decoration:underline;
			}
			#headerImage{
				height:auto;
				max-width:560px !important;
			}
			#templateBody{
				background-color:#FFFFFF;
				border-top:0;
				border-bottom:1px solid #CACACA;
			}
			.bodyContent{
				color:#303030;
				font-family:Helvetica;
				font-size:13px;
				line-height:150%;
				text-align:left;
			}
			.bodyContent a:link,.bodyContent a:visited,.bodyContent a .yshortcuts {
				color:#26ABE2;
				font-weight:normal;
				text-decoration:underline;
			}
			.rssButton{
				-moz-border-radius:5px;
				-webkitborder-radius:5px;
				background-color:#26ABE2;
				border-radius:5px;
			}
			.rssButton,.rssButton a:link,.rssButton a:visited{
				color:#FFFFFF;
				font-family:Helvetica;
				font-size:12px;
				font-weight:bold;
				line-height:100%;
				text-decoration:none;
			}
			.bodyContent img{
				display:inline;
				height:auto !important;
				max-width:560px !important;
			}
			#templateFooter{
				border-top:1px solid #FFFFFF;
			}
			.footerContent{
				color:#505050;
				font-family:Helvetica;
				font-size:11px;
				line-height:125%;
				text-align:left;
			}
			.footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts {
				color:#505050;
				font-weight:normal;
				text-decoration:underline;
			}
			.footerContent img{
				display:inline;
			}
			#monkeyRewards img{
				max-width:190px;
			}
		
	%body{ :leftmargin => "0", :marginwidth => "0", :topmargin => "0", :marginheight => "0", :offset => "0", :style => "-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #EBEBEB;width: 100% !important;" }
		%center
			%table#backgroundTable{ :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%", :style => "margin: 0;padding: 0;background-color: #EBEBEB;height: 100% !important;width: 100% !important;" }
				%tr
					%td{ :align => "center", :valign => "top"}
						%table#templatePreheader{ :border => "0", :cellpadding => "10", :cellspacing => "0", :width => "600", :style => "background-color: #c6487e;border-bottom: 0;" }
							%tr
								%td{ :align => "center", :valign => "top" }
									%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
										%tr
											%td.preheaderContent{ :valign => "top", :style => "padding-right: 20px;color: #FFFFFF;font-family: Helvetica;font-size: 10px;line-height: 100%;text-align: left;" }
												%img{ :src => "http://kudoz.io/img/kudoz-logo-tr.png" }
						%table#templateContainer{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600" }
							%tr
								%td#templateHeader{ :align => "center", :valign => "top", :style => "background-color: #FFFFFF;border-top: 0;border-bottom: 1px solid #D9D9D9;" }
									%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
										%tr
											%td.headerContent{ :style => "color: #303030;font-family: Helvetica;font-size: 20px;font-weight: bold;line-height: 100%;padding: 20px;text-align: left;vertical-align: middle;" }
												= "#{transfer.ammount} Kudoz for #{transfer.destination.user.name}"
							%tr
								%td{ :align => "center", :valign => "top" }
									%table#templateBody{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "background-color: #FFFFFF;border-top: 0;border-bottom: 1px solid #CACACA;" }
										%tr
											%td{ :align => "center", :valign => "top", :style => "padding-top:20px; padding-right:20px; padding-bottom:40px; padding-left:20px;" }
												%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
													%tr
														%td.bodyContent{ :valign => "top", :style => "padding-bottom: 20px;color: #303030;font-family: Helvetica;font-size: 13px;line-height: 150%;text-align: left;" }
															- if transfer.destination.user.id == account.user.id
																You've 
															- else
																= "#{transfer.destination.user.name}'s"
															= "received #{transfer.ammount} Kudoz from "
															= "#{transfer.origin.user.name}:"
															%br
															%br
															%em
																= transfer.message
															%br
															%br
																
				%tr
					%td{ :align => "center", :valign => "top" }
						%table#templateFooter{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "border-top: 1px solid #FFFFFF;" }
							%tr
								%td.footerContent{ :valign => "top", :style => "padding-top: 40px;padding-bottom: 40px;color: #505050;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;" }
									%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
										%tr
											%td{ :valign => "top", :style => "padding-right:20px;" }
												%em
													This message was sent to
													%strong 
														= account.user.email
													= "."
													%br
													Kudoz.io Team.