Kudoz.io
= "==============================================================="
= "Invitation from #{invite.user.name}"
= "---------------------------------------------------------------"
= "You've received an invite to be part of #{invite.team.name} at Kudoz from #{invite.user.name}:"
= 'Message:'
= invite.message
= ' '
= "Visit http://#{hostname}/teams/#{invite.team.id}/invites/#{invite.uuid}/accept to accept the invitation."