!!! Strict
%html{html_attrs(I18n.locale)}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		
	%title
		Kudoz
	= #stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/bootstrap.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/font-awesome.min.css", "data-turbolinks-track" => true
	<!--[if IE 7]>
	= stylesheet_link_tag    "/stylesheets/font-awesome-ie7.min.css"
	<![endif]-->
	= stylesheet_link_tag    "/stylesheets/ace-fonts.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace-rtl.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace-skins.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/jquery-ui-1.10.3.full.min.css", "data-turbolinks-track" => true
	<!--[if lte IE 8]>
	= stylesheet_link_tag    "/stylesheets/ace-ie.min.css"
	<![endif]-->
	= javascript_include_tag "/javascripts/ace-extra.min.js", "data-turbolinks-track" => true
	<!--[if lt IE 9]>
	= javascript_include_tag "/javascripts/html5shiv.js"
	= javascript_include_tag "/javascripts/respond.min.js"
	<![endif]-->
	= csrf_meta_tags
	= yield_content :include
	
	<!--[if !IE]> -->
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-2.0.3.min.js'>"+"<"+"/script>");
	<!-- <![endif]-->

	<!--[if IE]>
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-1.10.2.min.js'>"+"<"+"/script>");
	<![endif]-->

	= javascript_include_tag "/javascripts/jquery-ui-1.10.3.full.min.js"
	= javascript_include_tag "/javascripts/jquery.ui.touch-punch.min.js"
	= javascript_include_tag "/javascripts/jquery.knob.min.js"
	= javascript_include_tag "/javascripts/jquery.inputlimiter.1.3.1.min.js"
	= javascript_include_tag 'jquery-ujs'
	= javascript_include_tag "/javascripts/jquery.easy-pie-chart.min.js"
	= javascript_include_tag "/javascripts/flot/jquery.flot.min.js"
	= javascript_include_tag "/javascripts/flot/jquery.flot.pie.min.js"
	= javascript_include_tag "/javascripts/flot/jquery.flot.resize.min.js"

- if @my_user.nil?
	- if @invite.nil?
		= partial "home/landing_page"
	- elsif !@invite.nil?
		%body.login-layout
			.main-container
				.main-content
					.row
						.col-sm-10.col-sm-offset-1
							.login-container
								.center
									%h1
										%i.icon-thumbs-up-alt.white
											%span.white
												Kudoz.io
								.space-6

								.position-relative
									.login-box.visible.widget-box.no-border
										.widget-body
											.widget-main
												- if !@invite.nil?
													.center
														You've received an invitation to be part of 
														%strong
															= @invite.team.name
														team from
														= "#{@invite.user.name}."
														%br
														%br
												.social-or-login.center
													%span.bigger-110
														Login Using
												.social-login.center
													- if !@invite.nil?
														%a.btn.btn-primary{ :href => "/auth/facebook?invite=#{@invite.uuid}&fwd=#{request.fullpath}" }
															%i.icon-facebook
														%a.btn.btn-info{ :href => "/auth/twitter?invite=#{@invite.uuid}&fwd=#{request.fullpath}" }
															%i.icon-twitter
														%a.btn.btn-danger{ :href => "/auth/google_oauth2?invite=#{@invite.uuid}&fwd=#{request.fullpath}" }
															%i.icon-google-plus
													- else
														%a.btn.btn-primary{ :href => "/auth/facebook?fwd=#{request.fullpath}" }
															%i.icon-facebook
														%a.btn.btn-info{ :href => "/auth/twitter?fwd=#{request.fullpath}" }
															%i.icon-twitter
														%a.btn.btn-danger{ :href => "/auth/google_oauth2?fwd=#{request.fullpath}" }
															%i.icon-google-plus
- else
	%body.skin-2
		.navbar.navbar-default#navbar
			.navbar-container.container#navbar-container
				.navbar-header.pull-left
					%a.navbar-brand{ :href => "/" }
						%small
							%i.icon-thumbs-up-alt
							Kudoz.io
				.navbar-header.pull-right{ :role => "navigation" }
					%ul.nav.ace-nav
						%li
							- if @my_user.mood == "happy"
								%a.dropdown-toggle#moodlink{ "data-toggle" => "dropdown", :href => "#", :style => "background-color: rgb(135, 184, 127);"  }
									%i#moodicon.icon-smile
							- elsif @my_user.mood == "meh"
								%a.dropdown-toggle#moodlink{ "data-toggle" => "dropdown", :href => "#", :style => "background-color: rgb(255, 183, 82);"  }
									%i#moodicon.icon-meh							
							- elsif @my_user.mood == "annoyed"
								%a.dropdown-toggle#moodlink{ "data-toggle" => "dropdown", :href => "#", :style => "background-color: rgb(209, 91, 71);"  }
									%i#moodicon.icon-frown
							%ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
								%li.dropdown-header
									%i.icon-smile
									= "My mood now is ..."
								%li
									%a{ :href => "/user/mood/happy.js", "data-remote" => "true" }
										%i.btn.btn-xs.no-hover.btn-success.icon-smile
										Happy
								%li
									%a{ :href => "/user/mood/meh.js", "data-remote" => "true" }
										%i.btn.btn-xs.no-hover.btn-warning.icon-meh
										Meh
								%li
									%a{ :href => "/user/mood/annoyed.js", "data-remote" => "true" }
										%i.btn.btn-xs.no-hover.btn-danger.icon-frown
										Annoyed
								%li
									%a{ :href => "/user/mood" }
										See all your team moods
										%i.icon-arrow-right										
						%li.purple.no-border.margin-1.light-pink
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
								%i.icon-group.pink
								%span.badge.badge-pink
									= @my_user.teams.count
							%ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close.navbar-pink
								%li.dropdown-header
									%i.icon-group
									= "#{@my_user.teams.count} Team(s)"
								- @my_user.teams.each do |team|
									%li
										%a{ :href => "/teams/#{team.id}" }
											.clearfix
												%span.pull-left
													= team.name
								%li
									%a#id-btn-new-team{ :href => "#"}
										%i.icon-plus-sign
										Create New Team
							.hide#dialog-new-team
								%p
									Use this form to create a new team. 
								-form_for :team, "/teams/create", :method => :put, :id => "new-team-form" do |f|
									Team Name:
									%br
									= f.text_field :name, :value => ""
						%li.light-blue
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#"}
								- if !@my_user.image_url.nil? && @my_user.image_url != ""
									%img.nav-user-photo{ :src => @my_user.image_url }
								%span.user-info
									%small
										Welcome,
									= @my_user.name
								%i.icon-caret-down
							%ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
								%li
									%a{ :href => '/auth/log_out' , :rel => "nofollow" }
										%i.icon-off
										Sign out
		.main-container.container#main-container
			.main-container-inner
				= yield
				= partial 'common/uservoice'
	
	<!--[if !IE]> -->
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-2.0.3.min.js'>"+"<"+"/script>");
	<!-- <![endif]-->
	
	<!--[if IE]>
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-1.10.2.min.js'>"+"<"+"/script>");
	<![endif]-->
	
	:javascript
		if("ontouchend" in document) document.write("<script src='/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	= javascript_include_tag "/javascripts/bootstrap.min.js"
	= javascript_include_tag "/javascripts/typeahead-bs2.min.js"
	
	<!--[if lte IE 8]>
	= javascript_include_tag "/javascripts/excanvas.min.js"
	<![endif]-->
	
	= javascript_include_tag "/javascripts/ace-elements.min.js"
	= javascript_include_tag "/javascripts/ace.min.js"
	
:javascript
	jQuery(function($) {
		
		$( "#id-btn-new-team" ).on('click', function(e) {

			e.preventDefault();

			var dialog = $( "#dialog-new-team" ).removeClass('hide').dialog({
				modal: true,
				title: "New Team",
				buttons: [ 
					{
						text: "Cancel",
						"class" : "btn btn-xs",
						"id" : "btn-new-team-cancel",
						click: function() {
							$( this ).dialog( "close" ); 
						} 
					},
					{
						text: "Create",
						"class" : "btn btn-success btn-xs",
						"id" : "btn-new-team-ok",
						click: function() {
							if ($("#team_name").val()!="" )
							{
								$( "#btn-new-team-ok" ).addClass('hide');
								$( "#btn-new-team-cancel" ).addClass('hide');
								$( "#btn-new-team-pls-wait" ).removeClass('hide');
								$( "#new-team-form" ).submit();
							}
						} 
					},
					{
						text: "Please wait...",
						"class" : "btn btn-light btn-xs hide",
						"id" : "btn-new-team-pls-wait"
					}
				]
			});
		});
	});