!!! Strict
%html{html_attrs(I18n.locale)}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		
	%title
		Kudoz
	= #stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/bootstrap.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/font-awesome.min.css", "data-turbolinks-track" => true
	<!--[if IE 7]>
	= stylesheet_link_tag    "/stylesheets/font-awesome-ie7.min.css"
	<![endif]-->
	= stylesheet_link_tag    "/stylesheets/ace-fonts.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace-rtl.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/ace-skins.min.css", "data-turbolinks-track" => true
	= stylesheet_link_tag    "/stylesheets/jquery-ui-1.10.3.full.min.css", "data-turbolinks-track" => true
	<!--[if lte IE 8]>
	= stylesheet_link_tag    "/stylesheets/ace-ie.min.css"
	<![endif]-->
	= javascript_include_tag "/javascripts/ace-extra.min.js", "data-turbolinks-track" => true
	<!--[if lt IE 9]>
	= javascript_include_tag "/javascripts/html5shiv.js"
	= javascript_include_tag "/javascripts/respond.min.js"
	<![endif]-->
	= csrf_meta_tags
	= yield_content :include

- if @my_user.nil? || !@invite.nil?
	%body.login-layout
		.main-container
			.main-content
				.row
					.col-sm-10.col-sm-offset-1
						.login-container
							.center
								%h1
									%i.icon-thumbs-up-alt.white
										%span.white
											Kudoz.io
							.space-6

							.position-relative
								.login-box.visible.widget-box.no-border
									.widget-body
										.widget-main
											- if !@invite.nil?
												.center
													You've received an invitation to be part of 
													%strong
														= @invite.team.name
													team from
													= "#{@invite.user.name}."
													%br
													%br
											.social-or-login.center
												%span.bigger-110
													Login Using
											.social-login.center
												- if !@invite.nil?
													%a.btn.btn-danger{ :href => "/auth/google_oauth2?invite=#{@invite.uuid}" }
														%i.icon-google-plus
												- else
													%a.btn.btn-danger{ :href => '/auth/google_oauth2' }
														%i.icon-google-plus
- else
	%body.skin-2
		.navbar.navbar-default#navbar
			.navbar-container.container#navbar-container
				.navbar-header.pull-left
					%a.navbar-brand{ :href => "/" }
						%small
							%i.icon-thumbs-up-alt
							Kudoz.io
				.navbar-header.pull-right{ :role => "navigation" }
					%ul.nav.ace-nav
						%li.light-blue
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#"}
								- if !@my_user.image_url.nil? && @my_user.image_url != ""
									%img.nav-user-photo{ :src => @my_user.image_url }
								%span.user-info
									%small
										Welcome,
									= @my_user.name
								%i.icon-caret-down
							%ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
								%li
									%a{ :href => '/auth/log_out' , :rel => "nofollow" }
										%i.icon-off
										Sign out
		.main-container.container#main-container
			.main-container-inner
				-# %a.menu-toggler#menu-toggler{ :href => "#" }
				-# 	%span.menu-text
				-# .sidebar#sidebar
				-# 	%ul.nav.nav-list
				-# 		%li.active
				-# 			%a{ :href => "/" }
				-# 				%i.icon-dashboard
				-# 				%span.menu-text
				-# 					Dashboard
				-# 	.sidebar-collapse#sidebar-collapse
				-# 		%i.icon-double-angle-left{ "data-icon1" => "icon-double-angle-left", "data-icon2" => "icon-double-angle-right" }
				= yield
				= partial 'common/uservoice'
	
	<!--[if !IE]> -->
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-2.0.3.min.js'>"+"<"+"/script>");
	<!-- <![endif]-->
	
	<!--[if IE]>
	:javascript
		window.jQuery || document.write("<script src='/javascripts/jquery-1.10.2.min.js'>"+"<"+"/script>");
	<![endif]-->
	
	:javascript
		if("ontouchend" in document) document.write("<script src='/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	= javascript_include_tag "/javascripts/bootstrap.min.js"
	= javascript_include_tag "/javascripts/typeahead-bs2.min.js"
	
	<!--[if lte IE 8]>
	= javascript_include_tag "/javascripts/excanvas.min.js"
	<![endif]-->
	
	= javascript_include_tag "/javascripts/ace-elements.min.js"
	= javascript_include_tag "/javascripts/ace.min.js"